<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
    http://www.springframework.org/schema/beans/spring-beans.xsd      
    http://www.springframework.org/schema/context      
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd      
    http://www.springframework.org/schema/mvc      
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	
	<!-- 如下配置的目的在于统计哪些代码调用了取单号程序 方便以后的日志排查  如果不需要 也可以不配置-->
	<!-- 修改方式：将classPath 修改为你工程中的包名即可   -->
	<bean id="sn-invokeCode" class="mang.sn.tools.InvokeCode">
		<property name="classPath" value="mang.sn" />
	</bean>
	
	
	<bean id="snService" class="mang.sn.service.impl.SnServiceImpl">
		<property name="snNumberDAO" ref="snNumberDAOImplMysql" />
		<property name="timeDAO" ref="timeDAOImplMysql" />
		<property name="invokeCode" ref="sn-invokeCode" />
	</bean>
	
</beans>